body {
    background-image: url(./assets/Background-image.svg);
    background-repeat: repeat;
    margin: 0;
    border: 0;
    padding: 0;
}

.main-card {
    background-color: whitesmoke;
    margin: 3em 10% 0 10%;
    height: 80vh;
}
h1 {
    text-align: center;
    padding-top: 2rem;
    color: #440044;
    text-decoration: underline;
    font-style: italic;
}