body {
    background-image: url(./assets/Background-image.svg);
    background-repeat: repeat;
    margin: 0;
    border: 0;
    padding: 0;
}

.main-card {
    background-color: whitesmoke;
    margin: 3em 10% 0 10%;
    border-radius: 10px;
}
h1,h2 {
    text-align: center;
    padding-top: 2rem;
    color: #440044;
    text-decoration: underline;
    font-style: italic;
}

h2 {
    text-decoration: none ;
    font-style: normal;
}
.height-buttons-div {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;

}
button {
    display: block;
    padding: 1rem 2rem;
    color: white;
    background-color: #440044;
    border: 1px solid white;
    border-radius: 5px;
}
input {
    display: block;
    padding: 0.7rem 3rem 0.7rem 0.5rem;
    border-radius: 10px;
    border: 1px solid #440044;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.1em;
    outline: none;
    transition: outline 110ms ease-in-out;
}

input:focus {
    outline: 2px solid #440044;
}
.imperial-input-div input {
    margin: 0;
    margin-top: 2rem;
}

.imperial-input-div {
    width: 80vw;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap
}
.output {
    background-color: #ededed;
    width: 60%;
    height: 5em;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 2em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.output p {
    display: block;
    font-size: 2em;
}
.result-button {
    margin: 0 auto;
    padding: 1.5em 4em;
    border: 1px solid #440044;
    transition: all 80ms linear;
}
.result-button:active {
    background-color: white;
    color: #440044;
}
@media  ( max-width: 700px){
    .height-buttons-div{
        border: 1px solid #440044;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 2em 0;
    }
}